<div class="row justify-content-center">
  <div class="col-5">
    <div class="card" style="width: 100%; margin-top: 200px">
      <div class="card-header">
        <h3>Logowanie do aplikacji</h3>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm">
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="loginData.email" required class="form-control">
            <small *ngIf="email.touched && email.invalid" class="text-muted form-text">To pole jest wymagane</small>
          </div>
          <div class="form-group">
            <label>Hasło</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="loginData.password" required class="form-control">
            <small *ngIf="password.touched && password.invalid" class="text-muted form-text">To pole jest wymagane</small>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary" [disabled]="!loginForm.valid" (click)="logIn()">Zaloguj</button>
      </div>
    </div>
  </div>
</div>
