<div class="navbar navbar-light bg-light">
  <ul class="nav nav-pills app-nav">
    <li class="nav-item">
      <a class="nav-link" *ngIf="user !== undefined" routerLinkActive="active" routerLink="/main">Main</a>
    </li>
    <li class="nav-item" *ngIf="user === undefined">
      <a class="nav-link" routerLinkActive="active" routerLink="/registration">Registration</a>
    </li>
    <li class="nav-item" *ngIf="user === undefined">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
  </ul>
  <span class="navbar-brand" *ngIf="user" (click)="logout()">{{user.name}} {{user.lastname}}</span>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
