<div class="row" style="margin-top: 50px;">
  <div class="col-6">
    <ul class="list-group">
      <li *ngFor="let msg of messages$ | async" class="list-group-item" [ngClass]="(msg.user === fullname ? 'bg-light' : 'bg-white')">
        {{msg.content}}
        <small class="text-right text-muted form-text">{{msg.user}}</small>
      </li>
    </ul>
  </div>
  <div class="col-6">
    <div class="form-group">
      <label>Wiadomość</label>
      <textarea class="form-control" [(ngModel)]="content"></textarea>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="sendMessage()">Wyślij</button>
    </div>
  </div>
</div>
