<div class="row justify-content-center">
  <div class="col-6">
    <form [formGroup]="regForm">
      <div class="form-group">
        <label>Imię</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label>Nazwisko</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label>Hasło</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <button class="btn btn-primary" (click)="saveUser()">Dodaj użytkownika</button>
  </div>
</div>
